# 가비아 등 호스팅업체에서 구입한 도메인주소를 입력하세요 예:aidoingai.com
# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from

DOMAIN_NAME= 

# 서브도메인입니다
# The subdomain to serve from
SUBDOMAIN=n8n

# NEWYORK이 Default입니다. 원하는 도시로 변경하세요
# Optional timezone to set which gets used by Cron. 
GENERIC_TIMEZONE=Asia/Seoul

# 인증받을 이메일 주소를 입력하세요 
# The email address to use for the TLS/SSL certificate creation. New York is the default value if not set
SSL_EMAIL=

# PostgreSQL 설정
# set PostgreSQL (change your own key)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=n8n

# N8N 설정 
# set N8N key
N8N_ENCRYPTION_KEY=n8n-encryption-key
N8N_USER_MANAGEMENT_JWT_SECRET=n8n-jwt-secret

# API 키 (필요한 경우)
# API Key (optional)
Telegram_bot=
deepseek=sk-